:root {
    --color-iris: #4d5ae5;
    --color-ocean: #404bbf;
    --color-navy-blue: #2e2f42;
    --color-green: #31d0aa;
    --color-slate: #434455;
    --color-light-slate: #8e8f99;
    --color-cornflower: #e7e9fc;
    --color-cloud: #f4f4fd;
    --color-navy-blue-modal: #2e2f42;
    --color-grey: #2e2f42;
    --color-white: #ffffff;
    --color-dairy: #fcfcfc;
}

p,
h1,
h2,
h3,
h5,
h6,
ul {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

button {
    cursor: pointer;
}

address {
    font-style: normal;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    width: 100%;
}

.section {
    /*padding-top: 120px;
    padding-bottom: 120px;*/
    padding-top: 96px;
    padding-bottom: 96px;
}

.visually-hiden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    margin: -1px;
}


/*-----------------HEADER----------*/

.header {
    background-color: #ffffff;
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);

}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-navigation {
    display: flex;
    align-items: center;
}

.header-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: #4D5AE5;
    text-transform: uppercase;
    margin-right: 76px
}

.header-span {
    color: #2E2F42;
}

.header-list, .header-address {
    display: none;
}
.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.open-menu-btn{
    width: 32px;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-open-svg{
    fill: var(--color-grey);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu{
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    background-color: #FFFFFF;
    padding: 24px 24px 40px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu-close-btn{
    width: 24px;
    height: 24px;
    background: #E7E9FC;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-bottom: 32px;
}
.menu-header-list{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.menu-header-link{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--color-navy-blue);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-header-link:hover{
    color: var(--color-ocean);
}
.menu-header-link:focus {
    color: var(--color-ocean);
}
.menu-header-list{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 48px;
}
.menu-header-tel{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #4d5ae5;
}
.menu-header-mail{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.20;
    letter-spacing: 0.2em;
    color: #434455;
}
.menu-header-soc-list{
    display: flex;
    justify-content: space-between;
    gap: 24px;
    max-width: 328px;
}
.menu-header-soc-item{
    width: 40px;
    height: 40px;
}
.team-soc-link{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--color-iris);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-header-soc-icon{
    fill: #FFFFFF;
}
.menu-header-soc-icon:hover{
    background-color: var(--color-ocean);
}
.menu-header-soc-icon:focus {
    background-color: var(--color-ocean);
}
.header-item {}


/* .header-link {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover {
    color: #404bbf;
}

.header-link:focus {
    color: #404bbf;
}


.header-adress {
    font-style: normal;
}

.header-contacts {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts:hover {
    color: #404bbf;
}

.header-contacts:focus {
    color: #404bbf;
} */

/* .current {
    position: relative;
    color: #404bbf;
}

.current::after {
    content: '';
    position: absolute;
    left: 0;
    top: 44px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404BBF;

} */

/*-------------Hero--------------*/
.hero {
    margin: 0 auto;
    padding-top: 0;
    padding-bottom: 0;
    background: #2E2F42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
@media (min-device-pixel-ratio:2),
    (min-resolution:192dpi),
    (min-resolution:2dppx){
    .hero{
        background-image: var(--bg-gradient), url(../images/people-office-mobile-2x.jpg);
    }
}

.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 112px;
    padding-bottom: 112px;
}

.hero-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #FFFFFF;
    width: 320px;
    margin-bottom: 72px;
}

.hero-btn {
    width: 169px;
    height: 56px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    flex: none;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:is(:hover, :focus) {
    background-color: #404BBF;
}

.hero-btn:focus {
    background-color: #404BBF;
}

/*-------------Priority------------*/
 .priority {
    padding-bottom: 0;
}

.priority-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 72px;
}

.priority-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* width: calc((100% - 72px) / 4); */
}
.priority-list{
    flex-basis: 100%;
}

.priority-icon {
    display: none;
    /* justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    background-color: #F4F4FD; */
}

.priority-top-text {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    color: #2E2F42;
    order: 0;
    flex-grow: 0;
    margin-bottom: 8px;
}

.priority-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    max-width: 396px;
} 

/*----------About----------*/
 .about {
    display: none;
    /* background: white; */
}
/*
.about section {
    padding-top: 0px;
}

.about-list {
    display: flex;
    gap: 24px;
}

.about-subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
}

/*----------------Team----------*/
.team {
    background-color: #F4F4FD
}

.team-subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    justify-content: center;
}

.team-list li {
    flex-basis: 100%;
}

.team-item {
    background-color: #FFFFFF;
    /* width: calc((100% - 72px) / 4); */
    border-radius: 4px;
    max-width: 264px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.team-container {
    padding: 32px 16px;
}

.team-top-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    background-color: #FFFFFF;
    color: #2E2F42;
    margin-bottom: 8px;
    text-align: center;
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
    margin-bottom: 8px;
}

.workers-soc-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.workers-soc-item {
    width: 40px;
    height: 40px;
}

.workers-soc-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4D5AE5;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.workers-soc-icon {
    fill: #FFFFFF;
}

.workers-soc-link:hover {
    background-color: #404BBF;
}

.workers-soc-link:focus {
    background-color: #404BBF;
}

/*-------------Client---------*/

.client-container {}

.client-subtitle {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--color-grey);
    margin-bottom: 72px;
}

.client-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}
.client-list li {
    flex-basis: calc((100% - 16px) / 2);
}

.client-item {
    max-width: 168px;
    height: 88px;
    margin-bottom: 56px;
}

.client-soc-link {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: 1px solid #8E8F99;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-soc-icon {
    fill: #8E8F99;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-soc-link:hover {
    border-color: var(--color-ocean);

}

.client-soc-link:hover>.client-soc-icon {
    fill: var(--color-ocean);
}

.client-soc-link:focus {
    width: 100%;
    height: 100%;
    border: 1px solid var(--color-ocean);
    border-radius: 4px;
}

.client-soc-link:focus>.client-soc-icon {
    fill: var(--color-ocean);
}

/*---------Filter------------*/
.filter {}

.filter-item {
    position: relative;
}

.filter-list {
    display: flex;
    margin-bottom: 72px;
    justify-content: center;
    gap: 24px;
}

.filter-btn {
    height: 48px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--color-iris);
    background-color: #F4F4FD;
    cursor: pointer;
    background: #f4f4fd;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    padding: 12px 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.filter-btn:hover {
    color: #FFFFFF;
    background-color: #404BBF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    border-color: transparent;
}

.filter-btn:focus {
    color: #FFFFFF;
    background-color: #404BBF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    border-color: transparent;
}

/*----------Works------------*/

.works {
    padding-top: 96px;
    padding-bottom: 120px;
}

.works-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.information-container {
    border: 1px solid #E7E9FC;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    padding-right: 16px;
    border-top: none;
}

.works-top-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.works-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.works-cover-wrap {
    position: relative;
    overflow: hidden;
}

.works-cover-text {
    position: absolute;
    top: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    color: #F4F4FD;
    background-color: #4D5AE5;
    line-height: 1.50;
    letter-spacing: 0.02em;
    padding: 40px;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.works-link {
    text-decoration: none;
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.works-link:hover .works-cover-text {
    transform: translate(0);
}

.works-link:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.works-link:focus .works-cover-text {
    transform: translate(0);
}

.works-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}


/*-------------Footer----------*/
.footer {
    background: #2E2F42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer-information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 72px;
}
.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-bottom: 16px;
    text-align: center;
}

.footer-span {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #F4F4FD;
}

.footer-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    width: 268px;
}

.footer-container-soc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 72px;
}

.footer-top-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.footer-soc-list {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.footer-soc-item {
    width: 40px;
    height: 40px;
}

.footer-soc-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #434455;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-icon {
    fill: #FFFFFF;
}

.footer-soc-link:hover {
    background-color: var(--color-green);
}

.footer-soc-link:focus {
    background-color: var(--color-green);
}
.email-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 398px;
    margin: 0;
}
.email-form{
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}
.subscribe-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.subscribe-input-wrap{
    color: #FFFFFF;
}
.subscribe-modal-input{
    height: 40px;
    width: 100%;
    border: 1px solid #ffffff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: #2E2F42;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    padding-left: 16px;
}
.email-footer-btn{
    height: 40px;
    min-width: 165px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #4d5ae5;
    border-radius: 4px;
    margin-left: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    gap: 16px;
    padding-left: 24px;
    padding-right: 24px;
    border: none;
    margin: 0 auto;
}
.plane-icon{
    fill: #ffffff;
}
/*
.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */
/*---------------Modal------------*/
.modal {
    width: 408px;
    min-height: 576px;
    background: #FCFCFC;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);

}

.modal-close-btn {
    width: 24px;
    height: 24px;
    background-color: #E7E9FC;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover {
    background-color: var(--color-ocean);
    fill: #FFFFFF;
}

.modal-close-btn:focus {
    background-color: var(--color-ocean);
    fill: #FFFFFF;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.modal-tittle{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px;
}
.input-wrap{
    position: relative;
    margin-top: 4px;
}
.modal-input{
    width: 360px;
    height: 40px;
    border: 1px solid #2E2F42;
    border-radius: 4px;
    outline: transparent;
    padding-left: 38px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    border-color: #8E8F99;
}
.modal-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal-input:focus{
    border-color: #4D5AE5;
}
.modal-input:focus + .modal-icon {
    fill: #4D5AE5;
}
.modal-textarea:focus{
    border-color: #4D5AE5;
}
.modal-icon{
    position: absolute;
    left: 16px;
    top: 50%;
    fill: #2E2F42;
    transform: translateY(-50%);
}
.modal-label{
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
    margin-bottom: 8px;
}
.modal-label span {
    display: block;
    cursor: pointer;
}
.modal-textarea{
    width: 360px;
    height: 120px;
    border: 1px solid #2E2F42;
    border-radius: 4px;
    outline: transparent;
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
    color: #2e2f42;
    padding-top: 8px;
    padding-left: 16px;
    resize: none;
    border-color: #8E8F99;
}
.modal-btn{
    width: 169px;
    height: 56px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    background-color: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: transparent;
    margin-top: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.check-text{
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
    color: #8E8F99;
    margin-top: 16px;
}
.check-text span{
    width: 16px;
    height: 16px;
    border: 1px solid #2E2F42;
    border-radius: 2px;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.input-check:checked + .check-text span {
    background-color: #404BBF;
    border: none;
    fill: #F4F4FD;
}
.input-check:focus + .check-text span {
    border-color: #404bbf;
}
.privacy-link{
    padding-left: 4px;
    color: #4D5AE5;
}
/*.check-text::before{
    content: '';
    width: 16px;
    height: 16px;
    border: 1px solid #2E2F42;
    border-radius: 2px;
    margin-right: 8px;
}
.input-check:checked + .check-text::before{
    background-color: #404BBF;
    background-image: url(../images/Vector.svg);
    background-position: center;
    background-repeat: no-repeat;
}*/

@media screen and (min-width:428px){
    .container {
        width: 396px;
    }
}
@media screen and (min-width:768px){
    .container {
        width: 736px;
    }
    .header {
        padding-top: 16px;
        padding-bottom: 16px;
    }
    .header-logo {
        margin-right:120px;
    }
    .header-list {
        display: flex;
        gap: 40px;
    }
    .header-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.50;
        letter-spacing: 0.02em;
        color: var(--color-navy-blue);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    }
    .header-link:hover{
        color: var(--color-ocean);
    }
    .header-link:focus {
        color: var(--color-ocean);
    }
    .current{
        possition: relative;
    }
    .current::after {
        content: '';
        position: absolute;
        left: 0;
        top: 46px;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: #404BBF;
    }
    .header-adress {
        display: flex;
        font-style: normal;
    }
    .header-contacts{
        display: flex;
        flex-direction: column;
        gap: 12px;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
    }
    .header-contacts:hover {
        color: #404bbf;
    }

    .header-contacts:focus {
        color: #404bbf;
    } 
    .open-menu-btn{
        display: none;
    }
    .mob-menu{
        display: none;
    }
    .hero {
        margin: 0 auto;
        padding-top: 0;
        padding-bottom: 0;
        background: #2E2F42;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
            url(../images/hero-bg.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    @media (min-device-pixel-ratio:2),
        (min-resolution:192dpi),
        (min-resolution:2dppx){
        .hero{
            background-image: var(--bg-gradient), url(../images/people-office-table-2x.jpg);
        }
    }
    .hero-title{
        min-width: 496px;
        margin-bottom: 36px;
        font-size: 56px;
        line-height: 1.07;
    }
    .priority{
        padding-bottom: 48px;
    }
    .priority-list{
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
    }
    .priority-list li{
        flex-basis: calc((100% - 24px) / 2);
    }
    .priority-top-text{
        text-align: start;
    }
    .priority-item{
        margin-bottom: 48px;
    }
    .priority-text{
        max-width: 356px;
    }
    .team{
        padding-bottom: 56px;
    }
    .team-list{
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
    }
    .team-list li{
        flex-basis: calc((100% - 24px) / 2);
    }
    .client{
        padding-bottom: 48px;
    }
    .client-container{
        max-width: 552px;
    }
    .client-list{
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
    }
    .client-list li{
        flex-basis: calc((100% - 2 * 24px) / 3);
    }
    .client-item{
        margin-bottom: 48px;
    }
    .footer-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
        gap: 24px;
        justify-content: flex-start;
        padding-left: 108px;
    }
    .footer-information{
        max-width: 264px;
        margin: 0 0 48px;
    }
    .footer-logo{
        justify-content: flex-start;
        margin: 0 0 16px;
    }
    .footer-container-soc{
        max-width: 208px;
        margin: 0 0 48px;
    }
    .email-input{
        max-width: 453px;
        margin: 0;
    }
    .subscribe-title{
        margin: 0 0 16px;
    }
    .email-form{
        display: flex;
        flex-direction: row;
        gap: 24px;
        align-items: end;
    }
    .email-modal-field{
        margin-bottom: 0;
    }
    .subscribe-input-wrap{
        min-width: 264px;
    }
}
@media screen and (min-width:1158px){
    .container{
        width: 1126px;
    }
    .header{
    background-color: #ffffff;
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
    }
    .header-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .header-navigation {
        display: flex;
        align-items: center;
    }
    .header-logo {
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        color: #4D5AE5;
        text-transform: uppercase;
        margin-right: 76px;
    }
    .header-span {
        color: var(--color-navy-blue);
    }
    .current::after{
        top: 44px;
    }
    .header-list {
        display: flex;
        flex-direction:row;
        gap: 40px;
    }
    .hero{    
    margin: 0 auto;
    padding-top: 0;
    padding-bottom: 0;
    background: #2E2F42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    }
    @media (min-device-pixel-ratio:2),
        (min-resolution:192dpi),
        (min-resolution:2dppx){
        .hero{
            background-image: var(--bg-gradient), url(../images/people-office-2x.jpg);
        }
    }
    .hero-container{
        width: 1440px;
        height: 600px;
        padding-right: 0;
    }

    .hero-title {
        min-width: 496px;
        margin-bottom: 48px;
        font-size: 56px;
        line-height: 1.07;
    }
    .priority-icon{
        width: 264px;
        height: 112px;
        border-radius: 4px;
        background-color: var(--color-cloud);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 8px;
    }
    .priority-top-text {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.20;
    }
    .priority-text {
        font-family: 'roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        max-width: 264px;
    } 
    .priority-list{
        display: flex;
        flex-wrap: nowrap;
        gap: 24px;
        justify-content: center;
        align-items: flex-start;
    }   
    .priority-list li {
        flex-basis: calc((100% - 3 * 24px) / 4);
    }
    .about {
        display: flex;
        padding-top: 0;
    }
    .about-list {
        display: flex;
        gap: 24px;
    }
    .about-subtitle {
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2E2F42;
        margin-bottom: 72px;
    }
    .team{
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .team-list {
        display: flex;
        flex-wrap: nowrap;
        gap: 24px;
        justify-content: center;
    }
    .team-list li {
        flex-basis: calc((100% - 3 * 24px) / 4);
    }
    .team-item{
        margin-bottom: 0;
    }
    .client-container{
        max-width: 1128px;
    }
    .client-list{
        display: flex;
        flex-wrap: nowrap;
        gap: 24px;
        justify-content: center;
    }
    .client-list li{
        flex-basis: calc((100% - 5 * 24px) / 6);
    }
    .client-soc-icon{
        margin: 16px 40px;
    }
    .client-soc-link{
        width: 168px;
        height: 88px;
    }
    .footer-container{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: baseline;
        justify-content: flex-start;
        gap: 0;
        padding-left: 0;
    }
    .footer-information{
        margin-right: 120px;
        width: 264px;
    }
    .footer-container-soc{
        margin-right: 80px;
    }

}